<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Zaloguj</title>
</head>
<body>
<h1>Zaloguj</h1>
<div th:if="${param.error}">
    Zła nazwa lub hasło uzytkownika!
</div>
<div th:if="${param.logout}">
    Zostałeś wylogowany!
</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Zaloguj"/>
</form>
<div><a href="/register">Rejestracja</a></div></div>
</body>
</html>
